package {{.PackageName}}

import (
    "go.mongodb.org/mongo-driver/bson/primitive"
)

func (cl *DBClient) Insert{{.Name}}One({{.LowerName}} *{{.Name}}) (string, error) {
    result, err := cl.{{.Name}}Col.InsertOne(cl.ctx, {{.LowerName}})
    if err != nil {
        return "", err
    }
    if oid, ok := result.InsertedID.(primitive.ObjectID); ok {
        return oid.String(), nil
    }
    return "", nil
}

func (cl *DBClient) Insert{{.Name}}Many({{.LowerName}} []*{{Name}}) ([]string, error) {
    result, err := cl.{{.Name}}Col.InsertMany(cl.ctx, {{.lowerName}})
    if err != nil {
        return nil, err
    }
    var strOids []string
    if oids, ok := result.InsertedIDs.([]primitive.ObjectID); ok {
        for _, oid := range oids {
            strOids = append(strOids, oid)
        }
        return strOids, nil
    }
    return strOids, nil
}